@model EHR.Models.viewModel.admissionviewModel
@{
    ViewData["Title"] = "Create New Room";
}


<div class="container border p-3 my-5" id="mainDiv" style="display:none">
    <div class="mx-5">
        <div class="row pt-4 col-12">
            <h2 class="text-info pl-0">Jquery Form Add New Admission</h2>
        </div>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row col-4">
            <label class="control-label">Patient</label>
            <select asp-for="PatientId" class="form-control" asp-items="ViewBag.PatientId" id="PatientId"></select>
            <span asp-validation-for="PatientId" class="text-danger"></span>
        </div>
        <div class="form-group row col-4">
            <label class="control-label">Date</label>
            <input asp-for="AdmissionDateTime" class="form-control" id="AdmissionDateTime" type="text" />
            <span asp-validation-for="AdmissionDateTime" class="text-danger"></span>
        </div>
        <div class="form-group row col-4">
            <label class="control-label">Insurance</label>
            <select asp-for="InsuranceId" class="form-control" asp-items="ViewBag.InsuranceId" id="InsuranceId"></select>
            <span asp-validation-for="InsuranceId" class="text-danger"></span>
        </div>
        <div class="form-group row col-4">
            <label class="control-label">Doctor</label>
            <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.DoctorId" id="DoctorId"></select>
            <span asp-validation-for="DoctorId" class="text-danger"></span>
        </div>
        <div class="form-group row col-4">
            <label class="control-label">Room</label>
            <select asp-for="RoomId" class="form-control" asp-items="ViewBag.RoomId" id="RoomId"></select>
            <span asp-validation-for="RoomId" class="text-danger"></span>
        </div>

        <div class="form-group row col-4">
            <button type="button" class="btn btn-outline-primary mr-1" id="submit">Create New</button>

            @*<input type="submit" value="Create" class="btn btn-outline-primary mr-1" />*@
            <a asp-action="Index" class="btn btn-outline-info mr-1 w-25"><i class="fas fa-arrow-circle-left" style="font-size:20px"></i></a>
        </div>

    </div>
</div>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $("#AdmissionDateTime").datepicker({
                dateFormat: "mm/dd/yy",
                isRTL: true,
                duration: "slow",
                firstDay: 1,
                showOn: "focus"
            }).datepicker("setDate", "0");

            $("#mainDiv").fadeIn(1000);

        });

        $('#submit').click(function () {
            var mydata = {
                PatientId: $('#PatientId option:selected').val(),
                RoomId: $('#RoomId option:selected').val(),
                DoctorId: $('#DoctorId option:selected').val(),
                AdmissionDateTime: $('#AdmissionDateTime').val(),
                InsuranceId: $('#InsuranceId').val()
            }

            $.ajax({
                type: 'POST',
                url: '/AdmissionHs/CreateNewAdmissionPost/',
                data: JSON.stringify(mydata),
                contentType: 'application/json',
                dataType: 'JSON',
                success: function (response) {
                    if (response.status) {

                    } else {

                    }
                }
            });
        })




    </script>
}
