@model Databasae.Database.Insurance

@{
    ViewData["Title"] = "Details";
}


<div class=" container border p-3 my-5" id="mainDiv" style="display:none">
    <div class="mx-5">

        <div class="col-12 row pt-4">
            <h2><strong class="text-info">@Model.InsuranceName</strong> Details</h2>
        </div>
        <hr />
        <div class="col-md-10">
            <dl class="row">
                <dt class="col-sm-2">
                    Insurance Name
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.InsuranceName)
                </dd>
            </dl>

            <div class="form-group row col-4">
                <a asp-action="Edit" asp-route-id="@Model.InsuranceId" class="btn btn-outline-primary w-25 mx-1"><i class="fas fa-edit" style="font-size:20px"></i></a>
                <a asp-action="Index" class="btn btn-outline-info mr-1 w-25"><i class="fas fa-arrow-circle-left" style="font-size:20px"></i></a>
            </div>
        </div>

    </div>

</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#mainDiv").fadeIn(1000);
        });

    </script>

}