<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EHR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/fontawesome/css/all.css" rel="stylesheet" />
    <link href="~/JqueryTable/jquery.dataTables.min.css.css" rel="stylesheet" />
    <link href="~/JqueryTable/dataTables.bootstrap4.min.css.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom box-shadow mb-3" style="background-color: #e3f2fd;">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><strong>EHRApp</strong></a>


                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Genders" asp-action="Index">Genders List</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="RoomTypes" asp-action="Index">Room Types List</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Rooms" asp-action="Index">Rooms List</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departments List</a></li>
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="Doctors" asp-action="Index">Doctors List</a></li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vendors
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="VendorOrders" asp-action="Index">Vendors Orders List</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Customers
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="nav-link text-dark" asp-area="" asp-controller="CustomerOrders" asp-action="Index">Customers Orders List</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Vendors</a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ProductsReportbyVendor">Vendors Report</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Customers</a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ProductsReportbyVendor">Customers Report</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Categories</a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ProductsReportbycategory">Categories Report</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a class="dropdown-item dropdown-toggle" href="#">Products</a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ProductsReport">Products Report</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ProductsReportbycategory">Products by Categories Report</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="ProductsReportbyVendor">Products by Vendors Report</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                </ul>
                <div class="form-inline my-2 my-lg-0">
                    <partial name="_LoginPartial" />
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" disabled style="width:30%">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" disabled>Search</button>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - EHR - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/fontawesome/js/all.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/JqueryTable/jquery.dataTables.min.js.js"></script>
    <script src="~/js/jquery.dataTables.min.js.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/lib/vue/dist/vue.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
