@page
@model RegisterModel
<div class="container border p-3 my-5" id="mainDiv" style="display:none">
    <div class="mx-5">


        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">

            <div class="row pt-4 col-12">
                <h2 class="text-info pl-0">Create a New Account</h2>
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group" style="width:30%">
                <label asp-for="Input.firstName" class="control-label"></label>
                <input asp-for="Input.firstName" class="form-control" />
                <span asp-validation-for="Input.firstName" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:30%">
                <label asp-for="Input.lastName" class="control-label"></label>
                <input asp-for="Input.lastName" class="form-control" />
                <span asp-validation-for="Input.lastName" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:30%">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:30%">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group" style="width:30%">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>


    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $("#mainDiv").fadeIn(1000);
        })
    </script>
}



